#!/bin/bash


install_pkgx() {
  if which pkgx; then
    echo 'pkgx is already installed'
  else
    curl -fsSL https://pkgx.sh | bash
  fi
}

install_on_linux() {
  install_pkgx
}

install_on_mac() {
  xcode-select --install || echo "XCode already installed"

  if [[ "$(uname -m)" == "arm64" ]]; then
    softwareupdate --install-rosetta --agree-to-license
  fi

  install_brew
  (
    echo
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"'
  ) >>$HOME/.bashrc
  
  (
    echo
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"'
  ) >>$HOME/.zprofile

  eval "$(/opt/homebrew/bin/brew shellenv)"

  install_pkgx
}

install_brew() {
  if which brew; then
    echo 'Homebrew is already installed'
  else
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  fi
}

OS="$(uname -s)"
case "${OS}" in
Linux*)
  install_on_linux
  ;;
Darwin*)
  install_on_mac
  ;;
*)
  echo "Unsupported operating system: ${OS}"
  exit 1
  ;;
esac
