{{- if (not .ephemeral) -}}
{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash


# Check if fonts are enabled
if [ "{{ .fontsEnabled }}" != "true" ]; then
  echo "Fonts installation is disabled."
  exit 0
fi

# Check if this is an extra user
if [ "{{ .extraUser }}" == "true" ]; then
  echo "Already installed by main user, skipping installation."
  exit 0
fi

# Check if the font directory exists
if [ ! -d {{ .fontsPath }} ]; then
  echo "Font directory {{ .fontsPath }} does not exist."
  exit 1
fi

# Function to install fonts on Debian
install_fonts_debian() {
  echo "Installing fonts on Debian..."
  {{ $sudo }}mkdir -p /usr/share/fonts/

  # Copy font files to the user's font directory
  {{ $sudo }}cp -r {{ .fontsPath }}/* /usr/share/fonts/

  # Update the font cache
  fc-cache -f -v
  echo "Fonts installed on Debian."
}

# Function to install fonts on macOS
install_fonts_macos() {
  echo "Installing fonts on macOS..."
  # Copy font files to the user's font directory
  cp -r {{ .fontsPath }}/* ~/Library/Fonts/
  echo "Fonts installed on macOS."
}

# Per-platform installation
case $(uname) in
Darwin)
  install_fonts_macos
  ;;
Linux)
  install_fonts_debian
  ;;
*)
  echo "Unsupported operating system: $(uname)"
  exit 1
  ;;
esac
{{ end -}}
