#!/bin/bash

# Apply crontab if the file exists, otherwise create an empty .crontab file
if [ -f "{{ .chezmoi.homeDir }}/.crontab" ]; then
  if command -v crontab >/dev/null 2>&1; then
    crontab "{{ .chezmoi.homeDir }}/.crontab"
    echo "Crontab applied successfully."
  else
    echo "Crontab command not available, skipping crontab setup."
  fi
else
  touch "{{ .chezmoi.homeDir }}/.crontab"
  echo "No .crontab file found. Created an empty .crontab file."
fi

