".tmux":
  type: "git-repo"
  url: "https://github.com/gpakosz/.tmux.git"
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}

{{ if or (eq .nvimType "LunarVim") .nvimLoadAllDistros }}
".config/LunarVim":
  type: "git-repo"
  url: "https://github.com/LunarVim/LunarVim.git"
  args:
    - "--depth=1"  
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}
{{ end }}

{{ if or (eq .nvimType "LazyVim") .nvimLoadAllDistros }}
".config/LazyVim":
  type: "git-repo"
  url: "https://github.com/LazyVim/starter.git"
  args:
    - "--depth=1"  
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}
{{ end }}

{{ if or (eq .emacsType "Doom") .emacsLoadAllDistros }}
".config/doomemacs":
  type: "git-repo"
  url: "https://github.com/doomemacs/doomemacs.git"
  args:
    - "--depth=1"  
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}
{{ end }}

{{ if or (eq .emacsType "purcell") .emacsLoadAllDistros }}
".config/emacs":
  type: "git-repo"
  url: "https://github.com/maxclax/emacs.d.git"
  args:
    - "--depth=1"
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}
{{ end }}

{{ if or (eq .emacsType "prelude") .emacsLoadAllDistros }}
".config/preludeemacs.d":
  type: "git-repo"
  url: "https://github.com/bbatsov/prelude.git"
  args:
    - "--depth=1"  
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
".config/alacritty/themes":
  type: "git-repo"
  url: "https://github.com/alacritty/alacritty-theme"
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}

{{ end }}
