".tmux":
  type: "git-repo"
  url: "https://github.com/gpakosz/.tmux.git"
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}

{{ if or (eq .emacsType "Doom") }}
".config/emacs":
  type: "git-repo"
  url: "https://github.com/doomemacs/doomemacs.git"
  args:
    - "--depth=1"  
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
".config/alacritty/themes":
  type: "git-repo"
  url: "https://github.com/alacritty/alacritty-theme"
  exact: true
  refreshPeriod: {{ if .personal }}"72h"{{ else }}null{{ end }}
{{ end }}
