{{- $workspace := promptStringOnce . "workspace" "workspace directory" (printf "%s/workspace" .chezmoi.homeDir) -}}
{{- $workspace_extra := promptStringOnce . "workspace_extra" "extra workspace directory" (printf "%s/workspace_extra" .chezmoi.homeDir) -}}
{{- $resources := promptStringOnce . "resources" "resources directory" (printf "%s/workspace/resources" .chezmoi.homeDir) -}}

{{- $nvimType := "default" -}}
{{- if stdinIsATTY -}}
  {{- $choices := list "default" "nvim-custom" "kickstart.nvim" "kickstart-modular.nvim" "LunarVim" "LazyVim" "NvChad" "AstroNvim" "NormalNvim" "neovim-for-newbs" -}}
  {{- $nvimType = promptChoiceOnce . "nvimType" "What type of NeoVim are you on" $choices -}}
{{- end -}}

{{- $emacsType := "default" -}}
{{- if stdinIsATTY -}}
  {{- $choices := list "default" "Doom" "Spacemacs" "prelude" "purcell" -}}
  {{- $emacsType = promptChoiceOnce . "emacsType" "What type of Emacs are you on" $choices -}}
{{- end -}}

{{- $editor := "vim" -}}
{{- if stdinIsATTY -}}
  {{- $choices := list "vim" "emacsclient" -}}
  {{- $editor = promptChoiceOnce . "editor" "Which editor do you want to use as default" $choices -}}
{{- end -}}

{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud, VM instance or for short time */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal :=  false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if not $ephemeral -}}
{{-   if or (eq $hostname "space") (contains "space-" $hostname) -}}
{{-     $personal = true -}}
{{-   else if or (eq $hostname "debian") (eq $hostname "ubuntu") (eq $hostname "centos") -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "Is this machine headless? Has a screen and keyboard?" false -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "Is this machine ephemeral? Cloud, VM instance or for short time?" false -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $name := "dev" | quote -}}
{{- $email := "dev" | quote -}}
{{- $githubName := "dev" | quote -}} 
{{- $githubEmail := "dev" | quote -}}
{{- $githubGpgsignEnabled := false -}}
{{- $githubGpgsignSigningKey := "" | quote -}}
{{- $githubAccessToken := "" | quote -}}
{{- $githubGpgsignProgram := "" | quote -}}
{{- $agePubKey := "" | quote -}}
{{- $borgRepo := "" | quote -}}
{{- $borgEncryptionPassphrase := "" | quote -}}

{{- $useOp := promptBoolOnce . "useOp" "Do you want to use 1Password CLI (op) for configuration?" true -}}

{{- if $useOp -}}
{{-   $githubGpgsignEnabled = promptBoolOnce . "gitGithub.gpgsign.enabled" "Enable GPG signing for Git commits?" false  -}}
{{-   $agePubKey = onepasswordRead "op://Private/chezmoi-data/age-pub-key" | quote -}}
{{-   $borgRepo = onepasswordRead "op://Private/chezmoi-data/borg-repo" | quote -}}
{{-   $borgEncryptionPassphrase = onepasswordRead "op://Private/chezmoi-data/borg-encryption-passphrase" | quote -}}
{{-   $name = onepasswordRead "op://Private/chezmoi-data/git-config-name" | quote -}}
{{-   $email = onepasswordRead "op://Private/chezmoi-data/git-config-email" | quote -}}
{{-   $githubName = onepasswordRead "op://Private/chezmoi-data/github-username" | quote -}}
{{-   $githubEmail = onepasswordRead "op://Private/chezmoi-data/github-email"  | quote -}}
{{-   $githubGpgsignSigningKey = onepasswordRead "op://Private/chezmoi-data/github-signing-key" | quote -}}
{{-   $githubAccessToken = onepasswordRead "op://Private/chezmoi-data/github-access-token" | quote -}}
{{-   $githubGpgsignProgram = promptStringOnce . "gitGithub.gpgsign.program" "GPG signing program" "/Applications/1Password.app/Contents/MacOS/op-ssh-sign" | quote -}}
{{- end -}}


encryption = "age"
[age]
    identity = {{ promptStringOnce . "age.identity" "Age identity file location" (printf "%s/.config/chezmoi/key.txt" .chezmoi.homeDir) | quote }}
    recipient = {{ $agePubKey }}

[onepassword]
    command = "op"
    prompt = false

[data]
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
    unameArch = {{ output "uname" "-m" | trim | quote }}

    workspace = {{ $workspace | quote }}
    workspace_extra = {{ $workspace_extra | quote }}
    resources = {{ $resources | quote }}
    playground = {{ printf "%s/playground" $workspace | quote }}
    jupyter = {{ printf "%s/jupyter" $workspace | quote }}
    editor = {{ $editor | quote }}

    borgThisMachine = {{ promptBoolOnce . "borgThisMachine" "Use Borgbackups on this machine?" true }}
    borgRepo = {{ $borgRepo }}
    borgEncryptionPassphrase = {{ $borgEncryptionPassphrase }}
    borgWithPushover = {{ promptBoolOnce . "borgWithPushover" "Use Pushover in Borgbackups?" true }}

    fontsEnabled = {{ promptBoolOnce . "fontsEnabled" "Enable FONTS installation?" false }}
    fontsPath = {{ printf "%s/fonts" $resources | quote }}

    nvimType = {{ $nvimType | quote }}
    nvimLoadAllDistros = {{ promptBoolOnce . "nvimLoadAllDistros" "Load all NeoVim distributions?" true }}

    emacsType = {{ $emacsType | quote }}
    emacsEnabledClient = {{ promptBoolOnce . "emacsEnabledClient" "Enable Emacs client?" true }}
    emacsLoadAllDistros = {{ promptBoolOnce . "emacsLoadAllDistros" "Load all Emacs distributions?" true }}

    podmanEnabled = {{ promptBoolOnce . "podmanEnabled" "Enable Podman container engine?" true }}
    dockerEnabled = {{ promptBoolOnce . "dockerEnabled" "Enable Docker container engine?" false }}
    containerEngine = {{ promptStringOnce . "containerEngine" "Container engine to use (podman or docker)" "podman" | quote }}

    obsidianVault = {{ promptStringOnce . "obsidianVault" "Obsidian vault location" "~/Library/Mobile Documents/iCloud~md~obsidian/Documents/" | quote }}

    goEnabled = {{ promptBoolOnce . "goEnabled" "Enable Go development environment?" false }}
    
    rustEnabled = {{ promptBoolOnce . "rustEnabled" "Enable Rust development environment?" false }}

    pythonEnabled = {{ promptBoolOnce . "pythonEnabled" "Enable Python development environment?" false }}
    pythonVersion = {{ promptStringOnce . "pythonVersion" "Python version" "3.13.1" | quote}}

    ollamaPidFile = {{ promptStringOnce . "ollamaPidFile" "Ollama PID file location" "/tmp/ollama.pid" | quote }}
    ollamaPort = {{ promptIntOnce . "ollamaPort" "Ollama API port" 11434 }}
    ollamaModel = {{ promptStringOnce . "ollamaModel" "Ollama model to use" "llama3.2:latest" | quote }}

    torproxyHost = {{ promptStringOnce . "torproxyHost" "Tor proxy host" "localhost" | quote }}
    torproxyPortSocks5 = {{ promptIntOnce . "torproxyPortSocks5" "Tor proxy SOCKS5 port" 9150 }}
    torproxyPortDns = {{ promptIntOnce . "torproxyPortDns" "Tor proxy DNS port" 8893 }}

    gitName = {{ $name }} 
    gitEmail = {{ $email }} 
    gitLocalRepositories = {{ printf "%s/.local/git" .chezmoi.destDir | quote }}
    gitGithub.name = {{ $githubName }}
    gitGithub.email = {{ $githubEmail }}
    gitGithub.accessToken = {{ $githubAccessToken }}
    gitGithub.gpgsign.enabled = {{ $githubGpgsignEnabled }}
    gitGithub.gpgsign.signingKey = {{ $githubGpgsignSigningKey }}
    gitGithub.gpgsign.program = {{ $githubGpgsignProgram  }}


[git]
  autoCommit = {{ promptBoolOnce . "gitAutoCommit" "Enable automatic commits?" false }}
  autoPush = {{ promptBoolOnce . "gitAutoPush" "Enable automatic push?" false }}
