[submodule "private_dot_config/doom"]
	path = private_dot_config/doom
	url = https://github.com/maxclax/doom-config
	branch = main
[submodule "private_dot_config/purcellemacs.d"]
	path = private_dot_config/purcellemacs.d
	url = https://github.com/maxclax/purcellemacs.d.git
	branch = main
