[submodule "private_dot_config/doom"]
	path = private_dot_config/doom
	url = https://github.com/maxclax/doom-config
	branch = main
[submodule "private_dot_emacs_dot_d"]
	path = private_dot_emacs_dot_d
	url = https://github.com/maxclax/emacs.d.git
	branch = main
