{{ if or (not .personal) .ephemeral .headless }}
# Running borgmatic backups
0 10 * * * /opt/homebrew/bin/borgmatic /opt/homebrew/bin/borgmatic --verbosity 1 --progress

# Pruning old backups
30 10 * * * /opt/homebrew/bin/borgmatic prune
{{ end }}
