# Running borgmatic backups
0 12 * * * /opt/homebrew/bin/borgmatic --config {{ printf "%s/.config/borgmatic.d/workspace.yaml" .chezmoi.homeDir }}
5 12 * * * /opt/homebrew/bin/borgmatic --config {{ printf "%s/.config/borgmatic.d/git.yaml" .chezmoi.homeDir }}
10 12 * * * /opt/homebrew/bin/borgmatic --config {{ printf "%s/.config/borgmatic.d/extra_configs.yaml" .chezmoi.homeDir }}
15 12 */10 * * /opt/homebrew/bin/borgmatic --config {{ printf "%s/.config/borgmatic.d/managed_configs.yaml" .chezmoi.homeDir }}

# Pruning old backups
30 12 * * * /opt/homebrew/bin/borgmatic prune

