[tool.poetry]
name = {{ .git.name | quote }}
version = "0.1.0"
description = ""
authors = ["{{ .git.name }} <{{ .git.email }}>"]
package-mode = false

[tool.poetry.dependencies]
python = "{{ .python.version }}"
pikepdf = "*"
ffmpeg-python = "*"
pillow = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
