{
  "mcpServers": {
    "git": {
      "command": "uvx",
      "args": ["mcp-server-git"]
    },
    "mcp-installer": {
      "command": "npx",
      "args": ["@anaisbetts/mcp-installer"],
      "disabled": false
    },
    "fetch": {
      "command": "uvx",
      "args": ["mcp-server-fetch"],
      "disabled": false
    },
    "tavily-mcp": {
      "command": "npx",
      "args": ["-y", "tavily-mcp@0.2.4"],
      "env": {
        "TAVILY_API_KEY": "cmd:op read op://Personal/Tavily/TOKENS/token --no-newline"
      },
      "disabled": false,
      "autoApprove": []
    },
    "sequential-thinking": {
      "command": "npx",
      "args": ["-y", "@modelcontextprotocol/server-sequential-thinking"],
      "disabled": false
    },
    "filesystem": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "{{ .workspace }}",
        "{{ .workspace_extra }}"
      ],
      "disabled": false
    },
    "airbnb": {
      "command": "npx",
      "args": ["-y", "@openbnb/mcp-server-airbnb", "--ignore-robots-txt"],
      "disabled": false
    },
    "playwright": {
      "command": "npx",
      "args": ["@playwright/mcp@latest"],
      "env": {
        "DISPLAY": ":1"
      },
      "disabled": false
    }
  },
  "nativeMCPServers": []
}
