{{ if eq .chezmoi.os "darwin" }}
{{- $keys := gitHubKeys .gitGithub.name -}}
{{- if $keys -}}
  {{- range $keys -}}
    {{ .Key }}
  {{- end -}}
{{- end -}}
{{- if .useOp }}
{{ onepasswordRead "op://Personal/localhost-ssh/public key" }}
{{- end }}
{{ end }}
