#!/bin/bash

# Initialize Homebrew environment
eval "$(/opt/homebrew/bin/brew shellenv)"

{{ $brew_taps := list
  "borgbackup/tap"
  "d12frosted/emacs-plus"
  "derailed/popeye"
  "FelixKratz/formulae" -}}
  
# Define the list of brew packages
{{ $brews := list
  "age"
  "atuin"
  "bat"
  "btop"
  "borders"
  "borgbackup-fuse"
  "borgmatic"
  "coreutils"
  "chafa"
  "chezmoi"
  "cmake"
  "cmatrix"
  "ctop"
  "universal-ctags"
  "direnv"
  "dockutil"
  "duf"
  "duck"
  "eza"
  "fd"
  "fzf"
  "gcc"
  "gh"
  "git"
  "glances"
  "hcloud"
  "helm"
  "hey"
  "htop"
  "iftop"
  "imagemagick"
  "k9s"
  "k6"
  "kind"
  "kubectl"
  "kubectx"
  "lazygit"
  "lazydocker"
  "linkerd"
  "lsof"
  "luarocks"
  "make"
  "mas"
  "ncdu"
  "neofetch"
  "neovim"
  "node"
  "nmap"
  "popeye"
  "pngpaste"
  "pnpm"
  "pkgx"
  "ptpython"
  "ollama"
  "ranger"
  "ripgrep"
  "sesh"
  "slides"
  "speedtest-cli"
  "starship"
  "stern"
  "shred"
  "thefuck"
  "tlrc"
  "tmux"
  "tmuxinator"
  "terraform"
  "trash"
  "tree"
  "uv"
  "vim"
  "watch"
  "wget"
  "zoxide" -}}

# Define the list of cask applications
{{ $casks := list
  "1password"
  "1password-cli"
  "BetterTouchTool"
  "alacritty"
  "alfred"
  "appcleaner"
  "balenaetcher"
  "bartender"
  "choosy"
  "chatgpt"
  "cleanmymac"
  "colorsnapper"
  "macfuse"
  "daisydisk"
  "devonthink"
  "emacs-plus"
  "oversight"
  "teamviewer"
  "banktivity"
  "podman-desktop"
  "obsidian"
  "spamsieve"
  "hazel"
  "gitup"
  "shadowsocksx"
  "mountain-duck"
  "cardhop"
  "chatbox"
  "espanso"
  "fantastical"
  "firefox"
  "flux"
  "ghostty"
  "google-chrome"
  "karabiner-elements"
  "keepassxc"
  "keycastr"
  "kitty"
  "libreoffice"
  "little-snitch"
  "logseq"
  "nikitabobko/tap/aerospace"
  "neovide"
  "omnifocus"
  "pdf-expert"
  "qutebrowser"
  "rescuetime"
  "send-to-kindle"
  "tor-browser"
  "transmission"
  "unite"
  "utm"
  "viber"
  "vlc"
  "whatsapp"
  "wezterm"
  "zed"
  "zoom" -}}

# Define the list of Mac App Store applications
{{ $masApps := dict
  "1Password for Safari" 1569813296
  "Airmail" 918858936
  "Amphetamine" 937984704
  "Brother Transfer Express" 1627217996
  "Cyberduck" 409222199
  "Disk Speed Test" 425264550
  "Drafts" 1435957248
  "Folx GO" 736584830
  "IP Scanner Ultra" 404167677
  "Irvue" 1039633667
  "Kindle" 302584613
  "Medis" 1579200037
  "MeetingBar" 1532419400
  "Numbers" 409203825
  "OmniFocus" 1542143627
  "Pages" 409201541
  "Parcel" 639968404
  "Pixelmator Pro" 1289583905
  "RAR Extractor and Expander" 1071663619
  "SiteSucker" 442168834
  "Telegram" 747648890
-}}

# Generate the Brewfile format output
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brew_taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range (keys $masApps | sortAlpha) -}}
mas "{{ . }}", id: {{ index $masApps . }}
{{ end -}}
EOF


# Check if Go are enabled
if [ "{{ .goEnabled }}" = "true" ]; then
  echo "Go installation..."
  brew install go 
fi

# Check if Rust are enabled
if [ "{{ .rustEnabled }}" = "true" ]; then
  echo "Rust installation..."
  brew install rust rustup-init
fi
