#!/bin/bash

# Initialize Homebrew environment
eval "$(/opt/homebrew/bin/brew shellenv)"

{{ $brew_taps := list
  "borgbackup/tap"
  "derailed/popeye"
  "FelixKratz/formulae" -}}
  
# Define the list of brew packages
{{ $brews := list
  "age"
  "atuin"
  "bat"
  "btop"
  "bandwhich"
  "borders"
  "borgbackup"
  "borgbackup/tap/borgbackup-fuse"
  "borgmatic"
  "coreutils"
  "chafa"
  "chezmoi"
  "cmake"
  "cmatrix"
  "ctop"
  "universal-ctags"
  "d12frosted/emacs-plus/emacs-plus"
  "direnv"
  "dockutil"
  "duf"
  "duck"
  "eza"
  "fd"
  "fzf"
  "gcc"
  "gh"
  "git"
  "glances"
  "hcloud"
  "helm"
  "hey"
  "htop"
  "iftop"
  "imagemagick"
  "k9s"
  "k6"
  "kind"
  "kubectl"
  "kubectx"
  "lazygit"
  "lazydocker"
  "linkerd"
  "lsof"
  "luarocks"
  "make"
  "mas"
  "markdown"
  "ncdu"
  "neofetch"
  "neovim"
  "node"
  "nmap"
  "popeye"
  "pngpaste"
  "pnpm"
  "pkgx"
  "pgcli"
  "ptpython"
  "ollama"
  "ranger"
  "ripgrep"
  "sesh"
  "slides"
  "speedtest-cli"
  "starship"
  "stern"
  "shellcheck"
  "snort"
  "thefuck"
  "tlrc"
  "tldr"
  "tmux"
  "tmuxinator"
  "terraform"
  "trash"
  "tree"
  "uv"
  "vim"
  "watch"
  "wget"
  "zoxide" -}}

# Define the list of cask applications
{{ $casks := list
  "BetterTouchTool"
  "alacritty"
  "alfred"
  "appcleaner"
  "balenaetcher"
  "bartender"
  "choosy"
  "chatgpt"
  "cleanmymac"
  "colorsnapper"
  "macfuse"
  "daisydisk"
  "devonthink"
  "oversight"
  "banktivity"
  "podman-desktop"
  "pdf-expert"
  "obsidian"
  "spamsieve"
  "hazel"
  "gitup"
  "shadowsocksx"
  "mountain-duck"
  "inSSIDer"
  "cardhop"
  "chatbox"
  "espanso"
  "fantastical"
  "firefox"
  "flux"
  "focus"
  "ghostty"
  "google-chrome"
  "karabiner-elements"
  "keepassxc"
  "keycastr"
  "kitty"
  "libreoffice"
  "little-snitch"
  "logseq"
  "nikitabobko/tap/aerospace"
  "neovide"
  "qutebrowser"
  "rescuetime"
  "raspberry-pi-imager"
  "send-to-kindle"
  "tor-browser"
  "transmission"
  "unite"
  "utm"
  "viber"
  "vlc"
  "whatsapp"
  "wireshark"
  "wezterm"
  "zed"
  "zenmap"
  "zoom" -}}

# Define the list of Mac App Store applications
{{ $masApps := dict
  "Airmail" 918858936
  "Amphetamine" 937984704
  "Brother Transfer Express" 1627217996
  "Cyberduck" 409222199
  "Disk Speed Test" 425264550
  "Drafts" 1435957248
  "Folx GO" 736584830
  "Flow" 1423210932
  "GoodLinks" 1474335294
  "IP Scanner Ultra" 404167677
  "Irvue" 1039633667
  "Kindle" 302584613
  "Medis" 1579200037
  "MeetingBar" 1532419400
  "Numbers" 409203825
  "OmniFocus" 1542143627
  "Pages" 409201541
  "Parcel" 639968404
  "Pixelmator Pro" 1289583905
  "RAR Extractor and Expander" 1071663619
  "SiteSucker" 442168834
  "Telegram" 747648890
  "Vimlike" 1584519802 
  "Mate Translate" 1005088137
  "Jump Desktop" 524141863
  "KeyboardMetrics" 6737981817
-}}

# Generate the Brewfile format output
brew bundle --file=/dev/stdin <<EOF
{{ range ($brew_taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range (keys $masApps | sortAlpha) -}}
mas "{{ . }}", id: {{ index $masApps . }}
{{ end -}}
EOF


# Check if Go is enabled and not already installed
if [ "{{ .goEnabled }}" = "true" ]; then
  if ! command -v go &> /dev/null; then
    echo "Go installation..."
    brew install go
  else
    echo "Go is already installed. Skipping installation."
  fi
fi

# Check if Rust is enabled and not already installed
if [ "{{ .rustEnabled }}" = "true" ]; then
  if ! command -v rustc &> /dev/null; then
    echo "Rust installation..."
    brew install rust rustup-init
  else
    echo "Rust is already installed. Skipping installation."
  fi
fi
