# shellcheck shell=bash

# Aliases; runs in the same shell you are already in
# See bin folder for scripts which will run in their own shell

# Global settings
alias cz=chezmoi
alias dotfiles='cd {{ .chezmoi.sourceDir }}'
alias obsidian='cd {{ .obsidianVault }}'

alias jupyter='cd {{ .jupyter }}'
alias ll='eza --long --header --group-directories-first --git --group --all'
alias tree='tree -C'

# emacsclient
alias e='emacsclient -t'      # Terminal Emacs
alias ec='emacsclient -c -n'  # GUI Emacs (non-blocking)
alias killemacs='emacsclient -e "(kill-emacs)"'

# Emacs server commands for different distributions
alias emacs-server-doom='emacs --daemon --init-directory={{ .chezmoi.homeDir }}/.config/doomemacs.d'
alias emacs-server-spacemacs='emacs --daemon --init-directory={{ .chezmoi.homeDir }}/.config/spacemacs.d'
alias emacs-server-prelude='emacs --daemon --init-directory={{ .chezmoi.homeDir }}/.config/preludeemacs.d'
alias emacs-server-purcell='emacs --daemon --init-directory={{ .chezmoi.homeDir }}/.config/purcellemacs.d'
alias emacs-server-default='emacs --daemon'

# Set default emacs-server based on chosen distribution
{{- if eq .emacsType "Doom" }}
alias emacs-server='emacs-server-doom'
{{- else if eq .emacsType "Spacemacs" }}
alias emacs-server='emacs-server-spacemacs'
{{- else if eq .emacsType "prelude" }}
alias emacs-server='emacs-server-prelude'
{{- else if eq .emacsType "purcell" }}
alias emacs-server='emacs-server-purcell'
{{- else }}
alias emacs-server='emacs-server-default'
{{- end }}

# Restart commands for each distribution
alias restart-emacs='killemacs && emacs-server'  # Restart current default
alias restart-emacs-doom='killemacs && emacs-server-doom'
alias restart-emacs-spacemacs='killemacs && emacs-server-spacemacs'
alias restart-emacs-prelude='killemacs && emacs-server-prelude'
alias restart-emacs-purcell='killemacs && emacs-server-purcell'
alias restart-emacs-default='killemacs && emacs-server-default'

# pkgx/dev
alias dev-dirs='fd dev.pkgx.activated "$HOME/Library/Application Support/pkgx/dev" --exec dirname {}'

# Git
alias gs='git status'
alias lg='lazygit'
alias lazypodman='DOCKER_HOST=unix://$(podman machine inspect --format '"'"'{{`{{.ConnectionInfo.PodmanSocket.Path}}`}}'"'"') lazydocker'
alias lp='lazypodman'
alias git-purge='git branch --merged | egrep -v "(^\*|master|main|dev)" | xargs git branch -d'
alias git-grep='git rev-list --all | xargs git --no-pager grep --extended-regexp --ignore-case' # usage: gg <regexp>
alias glog='git log --graph --decorate --pretty=oneline --abbrev-commit --all'
alias submodule-reset='git submodule deinit -f . && git submodule update --init --recursive'

# Containers
alias tf="terraform"
alias mk="minikube"
alias k="kubectl"
alias h="helm"

# Python
alias pyclean='find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rvf'
alias pip-purge='pip list --format freeze | xargs pip uninstall -y'
alias pip-install-reqs='ls requirements*.txt | xargs -n 1 pip install -r'
alias poetry-install-master='pipx install --suffix=@master --force git+https://github.com/python-poetry/poetry.git'
alias activate='source .venv/bin/activate'
# assuming pyenv
alias venv='PIP_REQUIRE_VIRTUALENV=false python3 -m pip install --upgrade --user pip virtualenv && python3 -m virtualenv .venv && source .venv/bin/activate && python3 -m pip install --upgrade pip && which pip && pip list && pip --version && python3 --version'

# Colorize terminal
# ---- Eza (better ls) -----
alias ls="eza --icons=always --grid"
alias ll='eza --long --header --group-directories-first --group --all'
# Gerrit
# alias gerrit-push='git push origin HEAD:refs/for/master'
# alias gerrit-draft='git push origin HEAD:refs/drafts/master'
# alias gerrit-amend='git commit --amend'
# alias gp='gerrit-amend && gerrit-push'
# alias gp-draft='gerrit-amend && gerrit-draft'

alias ls='ls -G'
alias la='ls -all'
alias ll='ls -lG'
alias lst='ls -T'

# Copy path to clipboard
alias cpwd='pwd | tr -d "\n" | pbcopy'

# Stop wget from creating ~/.wget-hsts file. I don't care about HSTS (HTTP
# Strict Transport Security) for wget; it's not as if I'm logging into my bank
# with it.
alias wget='wget --no-hsts'

# Set NeoVim as vim by default
alias vim='nvim'

{{ if eq .containerEngine "podman" }} 
# ---- Podman -----
alias docker=podman
alias docker-compose=podman-compose
{{ end }}

# ---- TheFuck -----
if command -v thefuck &>/dev/null; then
  eval "$(thefuck --alias)"
  eval "$(thefuck --alias fk)"
fi

# Per-platform settings, will override the above commands
case $(uname) in
Darwin)
  # commands for macOS go here

  ;;
Linux)
  # commands for Linux go here

  ;;
esac
