{
  "autoUpdate": true,
  "model": "opus[1m]",
  "cleanupPeriodDays": 45,
  "env": {},
  "statusLine": {
    "type": "command",
    "command": "{{ .chezmoi.homeDir }}/.claude/statusline.sh",
    "refreshInterval": 60
  },
  "permissions": {
    "allow": [],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)",
      "Read(**/.env)",
      "Read(**/.env.*)",
      "Read(**/secrets/**)",
      "Read(**/*.pem)",
      "Read(**/*.key)",
      "Read(**/id_rsa)",
      "Read(**/id_ed25519)",
      "Read(./secrets/**)",
      "Read(**/kubeconfig)",
      "Read(**/kubeconfig.*)",
      "Read(**/*kubeconfig*)",
      "Read(**/*.tfstate*)",
      "Read(**/.kube/config)",
      "Read(**/values/**)",
      "Read(**/.authinfo)",
      "Read(**/.authinfo.gpg)",
      "Read(**/.netrc)",
      "Read(/{{ .workspace_extra }})",
      "Read(/{{ .workspace_extra }}/**)",
      "Edit(/{{ .workspace_extra }}/**)",
      "Bash(**/.env)",
      "Bash(**/.env.*)",
      "Bash(**/secrets/**)",
      "Bash(**/*.pem)",
      "Bash(**/*.key)",
      "Bash(**/id_rsa)",
      "Bash(**/id_ed25519)",
      "Bash(./secrets/**)",
      "Bash(**/kubeconfig)",
      "Bash(**/kubeconfig.*)",
      "Bash(**/*kubeconfig*)",
      "Bash(**/*.tfstate*)",
      "Bash(**/.kube/config)",
      "Bash(**/values/**)",
      "Bash(**/.authinfo)",
      "Bash(**/.authinfo.gpg)",
      "Bash(**/.netrc)",
      "Bash(**{{ .workspace_extra }}/**)"
    ]
  },
  "enabledPlugins": {
    "playwright@claude-plugins-official": false,
    "pyright-lsp@claude-plugins-official": false,
    "frontend-design@claude-plugins-official": false,
    "typescript-lsp@claude-plugins-official": true,
    "security-guidance@claude-code-plugins": false,
    "superpowers@claude-plugins-official": true,
    "ui-ux-pro-max@ui-ux-pro-max-skill": true
  },
  "extraKnownMarketplaces": {
    "superpowers-marketplace": {
      "source": {
        "source": "github",
        "repo": "obra/superpowers-marketplace"
      }
    },
    "ui-ux-pro-max-skill": {
      "source": {
        "source": "github",
        "repo": "nextlevelbuilder/ui-ux-pro-max-skill"
      }
    }
  },
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.claude/hooks/check-no-claude-watermark.sh"
          }
        ]
      }
    ]
  },
  "mcpServers": {},
  "voiceEnabled": true,
  "agentPushNotifEnabled": true
}
