# -*- mode: nix; -*-
{ config, pkgs, ... }:

{
  # Import modular configurations
  imports = [
    ./packages.nix              # Package installations
     
    #########################################################
    ./programs/zsh.nix           # Zsh configuration
    ./programs/bash.nix          # Bash configuration
    ./programs/vim.nix           # Vim configuration
    ./programs/direnv.nix        # Direnv configuration
    ./programs/alacritty.nix     # Alacritty configuration
    ./programs/atuin.nix         # Atuin configuration
    ./programs/starship.nix      # Starship configuration
    ./programs/ranger.nix        # Ranger configuration
  ];

  # Home Manager needs a bit of information about you and the paths it should manage
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  # This value determines the Home Manager release that your configuration is
  # compatible with. This helps avoid breakage when a new Home Manager release
  # introduces backwards incompatible changes.
  home.stateVersion = "25.05";

  # Let Home Manager install and manage itself
  programs.home-manager.enable = true;

  # Allow unfree packages
  nixpkgs.config.allowUnfree = true;
}
