;;; init-copilot.el -*- mode: emacs-lisp; lexical-binding: t; -*-

(set-evil-initial-state!
  '(comint-mode)
  'insert)

(add-hook! 'comint-mode-hook #'visual-line-mode)

(use-package! copilot
              :commands (copilot-mode)
              :config
              (setq copilot-max-char 3000000)
              (setq copilot-idle-delay 1)

              (add-to-list 'copilot-indentation-alist '(web-mode 2))
              (add-to-list 'copilot-indentation-alist '(html-mode 2))
              (add-to-list 'copilot-indentation-alist '(markdown-mode 2))
              (add-to-list 'copilot-indentation-alist '(prog-mode 2))
              (add-to-list 'copilot-indentation-alist '(org-mode 2))
              (add-to-list 'copilot-indentation-alist '(text-mode 2))
              (add-to-list 'copilot-indentation-alist '(closure-mode 2))
              (add-to-list 'copilot-indentation-alist '(emacs-lisp-mode 2)))

(provide 'init-copilot)
