;;; init-bibliography.el -*- mode: emacs-lisp; lexical-binding: t; -*-

;;; Commentary:
;; Bibliography and citation management configuration


;; Configuration will be added here later

(provide 'init-bibliography)
