;;; init-tramp.el --- TRAMP configuration -*- lexical-binding: t -*-

;;; Commentary:
;; TRAMP configuration based on Doom Emacs community solutions

;;; Code:


(provide 'init-tramp)
;;; init-tramp.el ends here
