;;; init-bibliography.el -*- mode: emacs-lisp; lexical-binding: t; -*-

;;; Commentary:
;; Bibliography and citation management configuration

;;; Code:

;; Packages: citar, biblio

;; Configuration will be added here later

;; Provide bibliography module
(provide 'init-bibliography)
;;; init-bibliography.el ends here