{
  "$schema": "https://raw.githubusercontent.com/CarterMcAlister/aerospace-layout-manager/main/layoutConfig.schema.json",
  "stashWorkspace": "8",
  "layouts": {
    "workspace2": {
      "workspace": "2",
      "layout": "h_tiles",
      "windows": [
        {
          "orientation": "vertical",
          "windows": [
            {
              "bundleId": "com.agiletortoise.Drafts-OSX"
            }
          ]
        }
      ]
    }
  }
}
