{
  "$schema": "https://raw.githubusercontent.com/CarterMcAlister/aerospace-layout-manager/main/layoutConfig.schema.json",
  "stashWorkspace": "S",
  "layouts": {
    "workspace1": {
      "workspace": "1",
      "layout": "h_tiles",
      "windows": [
        {
            "bundleId": "com.omnigroup.OmniFocus4"
        },
        {
            "bundleId": "com.agiletortoise.Drafts-OSX"
        }
      ]
    },
    "workspace2": {
      "workspace": "2",
      "layout": "h_tiles",
      "windows": [
        {
          "bundleId": "md.obsidian"
        },
        {
          "bundleId": "com.electron.logseq"
        }
      ]
    },
    "workspace5": {
      "workspace": "5",
      "layout": "v_tiles",
      "windows": [
        {
          "orientation": "vertical",
          "windows": [
            {
              "bundleId": "xyz.chatboxapp.app"
            },
            {
              "bundleId": "com.anthropic.claudefordesktop"
            }
          ]
        }
      ]
    }
  }
}
