{
  "$schema": "https://raw.githubusercontent.com/CarterMcAlister/aerospace-layout-manager/main/layoutConfig.schema.json",
  "stashWorkspace": "8",
  "layouts": {
    "workspace1": {
      "workspace": "1",
      "layout": "h_tiles",
      "windows": [
        {
          "orientation": "vertical",
          "windows": [
            {
              "bundleId": "com.omnigroup.OmniFocus4"
            },
            {
              "bundleId": "com.agiletortoise.Drafts-OSX"
            }
          ]
        },
        {
          "bundleId": "com.electron.logseq"
        }
      ]
    },
    "workspace9": {
      "workspace": "9",
      "layout": "v_tiles",
      "windows": [
        {
          "orientation": "vertical",
          "windows": [
            {
              "bundleId": "net.kovidgoyal.kitty", "size": "3/4"
            },
            {
              "bundleId": "net.publicspace.dist.vitaminr4", "size": "2/4"
            }
          ]
        }
      ]
    }
  }
}
