# ./.tmuxinator.yml
# convert to bash = `tmuxinator debug development`

name: main
root: ~

# You can set tmuxinator to skip auto-attaching to the session by using the attach option.
attach: true

windows:
  - main:
      # even-horizontal, even-vertical, main-horizontal, main-vertical, or tiled.
      layout: ac40,172x55,0,0[172x33,0,0{85x33,0,0,1,86x33,86,0,4},172x21,0,34,5]
      panes:
        - clear
        - lp
        - ranger ~ ~
        # - cmatrix
  - dotfiles:
      layout: tiled
      panes:
        - cd {{ .chezmoi.sourceDir }}
  - playground:
      layout: tiled
      panes:
        - cd {{ .playground }}
